/* Arquivo style CSS, separado do HTML para uma organização maior */

body {
  background: rgb(32, 32, 32);
  font: normal 15pt Arial;
}

header {
  color: white;
  text-align: center;
}

section {
  background: rgb(88, 88, 88);
  border-radius: 5px;
  padding: 20px;
  width: 500px;
  margin: auto;
  box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.363);
}

#msg {
  color: white;
}

#res {
  color: white;
  align-items: center;
  text-align: center;
}

#foto {
  height: 300px;
  width: 300px;
}

div {
  text-align: center;
  padding-top: 10px;
}

footer {
  color: white;
  text-align: center;
  font-style: italic;
}
